# Temp files
*~

# CMake files
build/
CMakeCache.txt
cmake_install.cmake
CMakeFiles

# Make generated + build
GeoX_app
Makefile
qrc_geoX.cxx
ui_*.h
*.cxx_parameters

#platform specific stuffs
windows/GeoX_VS2010.opensdf
windows/GeoX_VS2010.sdf
windows/GeoX_VS2010.suo
windows/ipch/