# Temp files
*~

# CMake files
build/
CMakeCache.txt
cmake_install.cmake
CMakeFiles

# Make generated + build
GeoX_app
Makefile
qrc_geoX.cxx
ui_*.h
*.cxx_parameters

#platform specific stuffs
windows/*
system/gui/*
images/moc/*
system/properties/moc/*
viewers/widgets/moc/*